* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(180deg, #4286F4 0%, #373B44 119.29%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#circle-1 {
    width: 120px;
    height: 120px;
    background: #A3CEF1;
    border-radius: 100%;

    position: absolute;

    animation: animation-circle-1 20s ease infinite;
}

@keyframes animation-circle-1 {
    0% {
        left: 340px;
        top: 40px;
    }

    50% {
        left: 880px;
        top: 500px;
    }

    100% {
        left: 340px;
        top: 40px;
    }
}

#circle-2 {
    width: 160px;
    height: 160px;
    background: #D9D9D9;
    border-radius: 100%;

    position: absolute;
    animation: animation-circle-2 20s ease infinite;
}

@keyframes animation-circle-2 {
    0% {
        left: 880px;
        top: 500px;
    }

    50% {
        left: 340px;
        top: 40px;
    }

    100% {
        left: 880px;
        top: 500px;
    }
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    width: 480px;
    height: 480px;
    padding: 21px;

    background: linear-gradient(180deg, #E7ECEF 0%, rgba(231, 236, 239, 0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 21px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

h1 {
    color: #274C77;
    font-weight: 700;
    font-size: 56px;
}

input,
textarea {
    padding: 16px;
    width: 80%;

    background: #D9D9D9;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;

    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;
}

button {
    padding: 16px;

    background: #274C77;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    filter: opacity(0.7);
}

@media (max-width: 1023px) {

    #circle-1,
    #circle-2 {
        width: 0px;
        height: 0px;
    }

    form {
        width: 100vw;
        height: 100vh;

        background: none;
        box-shadow: none;
        backdrop-filter: none;
    }

    h1 {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 32px;
    }

    button {
        background: #E7ECEF;
        color: #274C77;
        font-weight: 800;
    }
}